#header .widthContainer{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.widthContainer .cover{
    border: 1px solid #ccd6dd;
    width: 3em;
    height: 3em; 
}

.signup_btn{
    margin-left: 60px;
    margin-right: 10px;
}

.templatePost {
    display: none;
}

.postContent {
    display: flex;
    align-items: center;
}

hr.solid {
    border-top: 3px solid #bbb;
}

.postContent>.cover{
    border: 1px solid #ccd6dd;
    width: 5em;
    height: 5em;    
}
.postContent>.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.2rem;
    margin: 1rem;
    padding: 1rem;
    animation: fadein 0.5s;
}

.postContent .title {
    font-weight: bold;
    font-size: large;
}

/* CSS styling for the login panel from https://www.w3schools.com/howto/howto_js_popup_form.asp */
/* Button used to open the contact form - fixed at the bottom of the page */
.signup_btn {
  background-color: #555;
  color: white;
  padding: 10px 13px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
}

.post_btn {
    background-color: #555;
    color: white;
    padding: 10px 13px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
  }

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container button[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container button[type=button] {
  background-color: red;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add some hover effects to buttons */
.form-container .post_submit_btn:hover, .open-button:hover {
  opacity: 1;
}